doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style.
            body {
                font-family: Arial, sans-serif;
                background-color: #f0f8ff; /* Light blue background */
                color: #333333;
                padding: 20px;
            }
            .container {
                max-width: 600px;
                margin: 0 auto;
                background-color: #ffffff;
                border: 1px solid #e0e0e0;
                border-radius: 10px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                overflow: hidden;
            }
            .header {
                background-color: #0073e6; /* Darker blue for header */
                color: #ffffff;
                padding: 20px;
                text-align: center;
            }
            .content {
                padding: 20px;
                word-wrap: break-word;
            }
            .footer {
                background-color: #e0e0e0;
                color: #666666;
                padding: 10px;
                text-align: center;
            }
            .button {
                display: inline-block;
                padding: 10px 20px;
                background-color: #0073e6; /* Darker blue for button */
                color: #ffffff;
                text-decoration: none;
                border-radius: 5px;
                margin-top: 20px;
            }
            .button:hover {
                background-color: #005bb5; /* Darker shade for hover effect */
            }
    body
        .container
            .header
                h1 Recuperação de Senha
            .content
                p Olá #{name},
                p Você solicitou a recuperação de sua senha. Use o senha a seguir para acessar sua conta: #{token}
                p Se você não solicitou essa alteração, por favor ignore este email.
            .footer
                p &copy; 2024 ShareHub. Todos os direitos reservados.